* {box-sizing: border-box;}

        body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }

        .header {
          overflow: hidden;
          background-color: #db776e;
          padding: 10px 10px;
        }

        .header a {
          float: left;
          color: #fefefe;
          text-align: center;
          padding: 12px ;
          text-decoration: none;
          font-size: 18px;
          line-height: 25px;
          border-radius: 4px;
        }

        .header a logo{
          padding-top: 10px;
        }

        .header a:hover {
          background-color: #fff;
          color: #000000;
        }
      
       
        .header-right{
            float:right;
        }
       
        @media screen and (max-width: 500px) {
            .header a {
              float: none;
              display: block;
              text-align: left;
            }
  
            .header-left {
              float: none;
            }
            .header-right{
              float: none;
            }
          }
          .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }
          .item{
            width:400px;
          }
          #fixedbutton {
            position: absolute;
            top: 820px;
            right: 0px; 
          }  
          
         
          img {
            width: 60%;
          }	
          .container {
            display: flex;
            flex: 20%;
         }
         .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
    
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
        .btn-primary{
          text-decoration: none;
          border: none;
          color: #fff;
          background-color: #ff647f;
          padding: 10px 20px;
          text-align: center;
          display: inline-block;
          border-radius: 10px;
          font-size: 15px;
          cursor: pointer;
          margin-top: 10px;
        }
        .btn-primary:hover{
          background-color: pink;
        }
        .card{
          max-width: 20rem;
          margin-top: 10%;
          border-radius: 5px;
          background-color: #a9d4d9;
          }
          .owl-wrapper {
            margin: 0 auto;
        }
        ul{
          position:absolute;
          margin:0;
          padding:0;
        }
        
        li{
          max-width: 470px;
          text-align:center;
          display:inline-block;
          list-style:none;
          position:relative;
          border:solid 12px #fff;
          background:#fff;
          box-shadow:0 0 15px 0px #555;
          transition:all 1s ease;
          -o-transition:all 1s ease;
          -moz-transition:all 1s ease;
          -webkit-transition:all 1s ease;
          top:50px;
        }
        
        
        li:hover{
          top:0px;
          opacity:0.5;
        }
        
        li:nth-child(1){
            transform:rotate(10deg);
        }
        
        li:nth-child(2){
            transform:rotate(0deg);
        }
        
        li:nth-child(3){
            transform:rotate(-10deg);
        }
        
        li:nth-child(4){
            transform:rotate(20deg);
        }
        li:nth-child(5){
          transform:rotate(5deg);
      }
      
      li:nth-child(6){
          transform:rotate(-10deg);
      }
      
      li:nth-child(7){
          transform:rotate(10deg);
      }
      
      li:nth-child(8){
          transform:rotate(0deg);
      }
      li:nth-child(9){
        transform:rotate(10deg);
      }
    
      li:nth-child(10){
        transform:rotate(-5deg);
      }
    
      li:nth-child(11){
        transform:rotate(-10deg);
      }
    
       li:nth-child(12){
        transform:rotate(10deg);
        }
        li:nth-child(13){
        transform:rotate(10deg);
    }
  
        li:nth-child(14){
      transform:rotate(-15deg);
      }
  
      li:nth-child(15){
      transform:rotate(15deg);
      }
  
      li:nth-child(16){
      transform:rotate(0deg);
        }
        li:nth-child(17){
          transform:rotate(-10deg);
      }
      
      li:nth-child(18){
          transform:rotate(5deg);
      }
      
      li:nth-child(19){
          transform:rotate(-10deg);
      }
      
      li:nth-child(20){
          transform:rotate(10deg);
      }
      li:nth-child(21){
        transform:rotate(-5deg);
    }
    
    li:nth-child(22){
        transform:rotate(-15deg);
    }
    
    li:nth-child(23){
        transform:rotate(10deg);
    }
    
    li:nth-child(24){
        transform:rotate(0deg);
    }
    li:nth-child(25){
      transform:rotate(-10deg);
    }
  
    li:nth-child(26){
      transform:rotate(10deg);
    }
  
    li:nth-child(27){
      transform:rotate(-10deg);
    }
  
     li:nth-child(28){
      transform:rotate(-10deg);
      }
      li:nth-child(29){
      transform:rotate(5deg);
  }

      li:nth-child(30){
    transform:rotate(-5deg);
    }

    li:nth-child(31){
    transform:rotate(10deg);
    }li:nth-child(1){
      transform:rotate(10deg);
  }
  
  li:nth-child(32){
      transform:rotate(0deg);
  }
  
  li:nth-child(33){
      transform:rotate(-10deg);
  }
  
  li:nth-child(34){
      transform:rotate(20deg);
  }
  li:nth-child(35){
    transform:rotate(5deg);
}

li:nth-child(36){
    transform:rotate(-10deg);
}

li:nth-child(37){
    transform:rotate(10deg);
}

li:nth-child(38){
    transform:rotate(0deg);
}
li:nth-child(39){
  transform:rotate(10deg);
}

li:nth-child(40){
  transform:rotate(-5deg);
}

li:nth-child(41){
  transform:rotate(-10deg);
}

 li:nth-child(42){
  transform:rotate(10deg);
  }
  li:nth-child(43){
  transform:rotate(10deg);
}

  li:nth-child(44){
transform:rotate(-15deg);
}

li:nth-child(45){
transform:rotate(15deg);
}

li:nth-child(46){
transform:rotate(0deg);
  }
  li:nth-child(47){
    transform:rotate(10deg);
}

li:nth-child(48){
    transform:rotate(0deg);
}
li:nth-child(49){
  transform:rotate(10deg);
}

li:nth-child(50){
  transform:rotate(-5deg);
}

li:nth-child(51){
  transform:rotate(-10deg);
}

 li:nth-child(52){
  transform:rotate(10deg);
  }
  li:nth-child(53){
  transform:rotate(10deg);
}

  li:nth-child(54){
transform:rotate(-15deg);
}

li:nth-child(55){
transform:rotate(15deg);
}

li:nth-child(56){
transform:rotate(0deg);
  }
        p{
          margin:0 0 0 0;
          color: #000000;
        }
        
        .light{
          border-radius:50%;
          position:absolute;
          left:0;
          right:0;
          width:700px;
          height:700px;
          background:#fff;
          filter:blur(100px);
          opacity:0.3;
          pointer-events:none;
        }        
